html, body { 
    min-height: 100%; 
    margin: 0; padding: 0; 
}

html { 
    position: relative; 
    font-size: 14px; 
}

body, .game { 
    position: absolute; 
}

body {  
    box-sizing: border-box; 
    width: 100%;  
}

.game { 
    width: 100%; height: 100%; 
    background-color: red; 
}

.game-start { 
    padding: 1.5em 2.5em; 
    position: absolute; left: 50%; top: 50%; transform: translate( -50%, -50% );
    background-color: white; 
    font-size: 1.8rem; font-weight: bold; 
    color: red; 
    text-align: center; text-transform: uppercase;
    cursor: pointer; 

}

.game-play {

}

.score { 
    box-sizing: border-box; 
    width: 100%; 
    position: absolute; left: 0; top: 0; 
    padding: 0.75em; 
    background-color: white;
    color: red; 
    font-size: 1.75rem; font-weight: bold; 
    text-align: center; 

}

.game-over {

}

.wizard { 
    width: 82px; height: 100px; 
    position: absolute; bottom: 0; 
    background-image: url( './images/wizard.png' ); 
    background-size: cover; 

}

/* Class to give to an element to remove it from the screen */
.hidden { 
    display: none; 
}

